
<div class="loader is-hidden">
		<div class="spinner"></div>
	</div>
	<section id="dessert-section">
		<div class="container dessert-container">

			<h2 class="dessert-title">Солодощі</h2>
			<p class="dessert-subtitle">Спробуйте наші смачні десерти, які вас здивують!</p>

			<div class="categories-filter-wrapper">
				<select class="categories-select" aria-label="Категорія десертів">
					<option value="">Всі десерти</option>
				</select>

				<ul class="container-categories-btn">
					<li>
						<button class="category-btn active" data-id="">Всі десерти</button>
					</li>
				</ul>
			</div>

			<ul class="dessert-list" id="dessert-id"></ul>

			<button class="load-more-btn">Завантажити ще</button>

		</div>
	</section>


