<div class="modal-overlay js-modal-overlay hidden">
  <div class="modal-dessert">
    <button
      class="modal-close-btn js-modal-close"
      type="button"
      aria-label="Закрити модальне вікно"
    >
      ✕
    </button>

    <div class="modal-content">
      <img
        class="modal-img js-modal-img"
        src="#"
        alt=""
        width="580"
        height="435"
      />

      <div class="modal-info">
        <h2 class="modal-title js-modal-title"></h2>

        <p class="modal-price js-modal-price"></p>

        <div class="modal-stars js-modal-stars"></div>

        <p class="modal-desc js-modal-desc"></p>

        <p class="modal-composition">
          <strong>Склад:</strong>
          <span class="js-modal-composition"></span>
        </p>

        <button class="js-go-to-order" type="button">
          Перейти до замовлення
        </button>
      </div>
    </div>
  </div>
</div>
