<div class="feedback-container">
  <div class="title-container">
    <h2 class="title" id="feedbacks">Відгуки клієнтів</h2>
    <p class="title-text">Найкращі десерти, які я коли-небудь куштував!</p>
  </div>

  <div class="slider-container-box">
    <div class="card-wrapper swiper">
      <button class="prev-btn">
        <img
          src="./img/arrow_back.svg"
          alt="Назад"
          loading="lazy"
          width="48"
          height="48"
        />
      </button>
      <ul class="card-list swiper-wrapper"></ul>
      <button class="next-btn">
        <img
          src="./img/arrow_forward.svg"
          alt="Вперед"
          loading="lazy"
          width="48"
          height="48"
        />
      </button>
    </div>

    <ul class="slider-list"></ul>
  </div>
</div>
