<div class="feedback-container">
  <div class="title-container">
    <h2 class="title" id="feedbacks">Відгуки клієнтів</h2>
    <p class="title-text">Найкращі десерти, які я коли-небудь куштував!</p>
  </div>

  <div class="slider-container-box">
    <div class="card-wrapper swiper">
      <button class="prev-btn">
        <svg width="48" height="48" aria-label="Назад">
          <use href="/sprite.svg#icon-arrow-back"></use>
        </svg>
      </button>
      <ul class="card-list swiper-wrapper"></ul>
      <button class="next-btn">
        <svg width="48" height="48" aria-label="Вперед">
          <use href="/sprite.svg#icon-arrow-forward"></use>
        </svg>
      </button>
    </div>

    <ul class="slider-list"></ul>
  </div>
</div>
