<section id="hero" class="hero-section">
  <div class="container hero-container">
    <div class="hero-text-container">
      <h1 class="hero-title">Ласкаво просимо до Солодкої Майстерні</h1>
      <p class="hero-text">
        Відкрийте для себе наші неперевершені десерти, приготовані з любов'ю та
        увагою до деталей. Кожен шматочок — це справжнє свято смаку!
      </p>
      <a href="#feedbacks" class="hero-link">Що про нас думають</a>
    </div>
  </div>
  <!-- <div class="hero"></div> -->
  <!-- <img
     src="/src/img/hero/desktop/hero-desktop-1x.png"
    alt="Hero Image"
  /> -->
</section>
